/*Navbar*/
        .overflow-x-hidden {
            overflow-x: hidden;
        }

@media (min-width: 1024px) {
            .lg\:overflow-x-auto {
                overflow-x: hidden;
            }
        }

.bg-scroll-white {
            background-color: white;
            transition: background-color 0.3s ease;
        }

@media (max-width: 576px) {
            .mobile-text-black {
                color: black !important;
            }
        }

.full-dropdown {
            width: -webkit-fill-available;
        }

@media (max-width: 638px) {
            .mobile-text-black {
                color: black !important;
            }

            /* .mobile-full {
                height: 989px;
            } */
        }

.text-color {
            color: white !important;
        }

/*Forward scroll runnning first*/
        .scroll-container {
            height: 400px;
            /* Adjust height as needed */
            overflow: hidden;
            position: relative;
        }

.scroll-content {
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* Forward-wise vertical scroll */
        }

.scroll-item {
            margin-top: 4px;
        }

/*Forward scroll runnning first*/


        /*Reverse scroll runnning first*/
        .scroll-container-rev {
            height: 400px;
            /* Adjust height as needed */
            overflow: hidden;
            position: relative;
        }

.scroll-content-rev {
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            /* Reverse-wise vertical scroll */
        }

.scroll-item-rev {
            margin-top: 4px;
        }

/*Reverse scroll runnning first*/


        /*Forward scroll runnning Second*/
        .scroll-container-2 {
            height: 400px;
            /* Adjust height as needed */
            overflow: hidden;
            position: relative;
        }

.scroll-content-2 {
            position: absolute;
            top: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* Forward-wise vertical scroll */
        }

.scroll-item-2 {
            margin-top: 4px;
        }

/*Forward scroll runnning Second*/

        @media (max-width: 640px) {
            .overflow-x-hidden-mobile {
                overflow-x: hidden;
            }
        }

/* Define hover effect */
        .hover-container:hover svg path {
            fill: white;
        }

.overflow-x-hidden {
            overflow-x: hidden;
        }

.full-dropdown {
            /* width: -webkit-fill-available; */
            width: 100%;
        }

#input-search:focus {
            border-bottom: 1px solid #194F97 !important;
            outline: none;
            box-shadow: none !important;
        }

#btn-search:focus {
            border-bottom: none !important;
            outline: none !important;
        }

/* Full-screen loader wrapper */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader design */
.loader {
  width: 20px;
  aspect-ratio: 1;
  background: #1692C8;
  box-shadow: 0 0 60px 15px #1692C8;
  transform: translate(-80px);
  clip-path: inset(0);
  animation:
    l4-1 0.5s ease-in-out infinite alternate,
    l4-2 1s ease-in-out infinite;
}

@keyframes l4-1 {
  100% { transform: translateX(80px); }
}

@keyframes l4-2 {
  33% { clip-path: inset(0 0 0 -100px); }
  50% { clip-path: inset(0 0 0 0); }
  83% { clip-path: inset(0 -100px 0 0); }
}

.blog_desc ul {
    list-style-type: disc !important;
    padding-left: 20px !important;
}

.blog_desc ol {
    list-style-type: decimal !important;
    padding-left: 20px !important;
}

.search-input {
            width: 0;
            padding: 0;
            transition: width 0.1s ease-in-out;
            display: none;
        }

/* Media query for tablets (width up to 768px) */
        @media screen and (max-width: 768px) {
            .search-input {
                margin-top: 10px;
                width: 300px;
                padding: 0 1.5rem;
                display: flex;
            }
        }

/* Media query for mobile devices (width up to 480px) */
        @media screen and (max-width: 480px) {
            .search-input {
                margin-top: 10px;
                width: 300px;
                padding: 0 1.5rem;
                display: flex;
            }
        }

.search-input.active {
            width: 300px;
            padding: 0 1.5rem;
            display: flex;
        }

input[type="search"]::-webkit-search-cancel-button {
            display: none;
        }

.save-btn {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
        }

.save-icon {
            width: 24px;
            height: 24px;
            background-size: cover;
            background-repeat: no-repeat;
        }

.save-icon.default {
            background-image: url('https://touchmarkdes.com/images/bookmark\\ \\(1\\).png');
            /* Replace with your default image path */
        }

.save-icon.filled {
            background-image: url('/images/save-instagram.png');
            /* Replace with your filled image path */
        }

.save-flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

.background-animate {
            background-size: 400%;

            -webkit-animation: AnimationName 3s ease infinite;
            -moz-animation: AnimationName 3s ease infinite;
            animation: AnimationName 3s ease infinite;
        }

@keyframes AnimationName {

            0%,
            100% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100% 50%;
            }
        }

/*Navbar*/
     .overflow-x-hidden {
            overflow-x: hidden;
        }

@media (max-width: 638px) {
            .mobile-text-black {
                color: black !important;
            }

            .mobile-full {
                height: 989px;
            }
        }

.tab-content {
            display: none;
        }

.tab-content.active {
            display: block;
        }

@media only screen and (max-width: 768px) {
            .mobile-full {
                height: 989px;
            }
        }

.scrollbar-hidden::-webkit-scrollbar {
            display: none;
        }

#successDiv {
            display: none;
            /* Hide the success div initially */
        }

#successDiv .text-center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

#successDiv .text-center img {
            margin-bottom: 1rem;
            /* Adjust as needed for spacing */
        }

.error {
            border-color: #dc3545;
        }

.error-message {
            color: #dc3545;
            font-size: 0.875em;
            margin-top: 0.25em;
        }

.required-star {
            color: #dc3545;
        }

#successDiv {
            display: none; /* Hide the success div initially */
        }

.required-star{
            color: #dc3545;
        }

.swiper-container {
            width: 100%;
            height: 100%;
        }

.swiper-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
        }

.tab-button {
            position: relative;
            transition: color 3s ease;
            padding-bottom: 14px;
        }

.tab-button::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 100%;
            background-color: transparent;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 7.5s ease;
        }

.tab-button.border-white::after {
            background-color: white;
            transform: scaleX(1);
        }

.tab-button.text-white {
            color: white;
        }

.custom-margin-lg {
            margin-top: 0;
        }

@media (min-width: 1024px) {
            .custom-margin-lg-0 {
                margin-top: 0px;
            }

            .custom-margin-lg-1 {
                margin-top: -80px;
            }

            .custom-margin-lg-2 {
                margin-top: -160px;
            }

            .custom-margin-lg-3 {
                margin-top: -240px;
            }

            /* Add more classes as needed */
        }

.customs-margin-lg {
            margin-top: 0;
        }

@media (min-width: 1024px) {
            .customs-margin-lg-0 {
                margin-top: 0px;
            }

            .customs-margin-lg-1 {
                margin-top: 80px;
            }

            .customs-margin-lg-2 {
                margin-top: 160px;
            }

            .customs-margin-lg-3 {
                margin-top: 240px;
            }

            /* Add more classes as needed */
            
            /* Full-screen loader wrapper */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loader design */
.loader {
  width: 20px;
  aspect-ratio: 1;
  background: #1692C8;
  box-shadow: 0 0 60px 15px #1692C8;
  transform: translate(-80px);
  clip-path: inset(0);
  animation:
    l4-1 0.5s ease-in-out infinite alternate,
    l4-2 1s ease-in-out infinite;
}

@keyframes l4-1 {
  100% { transform: translateX(80px); }
}

@keyframes l4-2 {
  33% { clip-path: inset(0 0 0 -100px); }
  50% { clip-path: inset(0 0 0 0); }
  83% { clip-path: inset(0 -100px 0 0); }
}

        }

.body-contain {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333;
            margin: 0;
            padding: 0;
        }

.containered {
            max-width: 1200px;
            margin: 0 auto;
            padding: 95px;
        }

.heading-term {
            text-align: center;
            color: #0069a5;
            font-size: 28px;
        }

.para-term {
            text-align: center;
        }

.heading-terms {
            color: #0069a5;
            font-size: 22px;
            margin-top: 20px;
        }

.para-terms {
            margin: 10px 0;
        }